[submodule "library/lib"]
	path = library/lib
	url = git@github.com:ttetrafon/typescript-lib.git
[submodule "library/lib-cf"]
	path = library/lib-cf
	url = git@github.com:ttetrafon/cloudflare-ts-lib.git
